.table-heading{
    font-weight: 600;
    margin-bottom: 20px;
}

.information-table tr td:nth-child(1){
    font-weight: 600;
}

.info-card {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#faqs-title{
    font-weight: 600 !important;
}
