.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;

}

.nav-bg-dark{
    background-color: black !important;
}
.navbar-brand {
    color: white !important;
}


#about-project{
    margin-top: 80px;
}

.custom-card {
    width: 18rem; height: 125px;
}

#companies-row {
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover{
    background-color: black;
    color: white;
}
